@model List<Rentaly.DtoLayer.BlogDtos.ResultBlogWithCategoryDto>

<section id="section-news">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Blog Yazıları</h2>
                <p>Seyahat ipuçları, araç kiralama rehberleri ve güncel içeriklerle
                    yolculuklarınızı daha keyifli hale getirin.</p>
                <div class="spacer-20"></div>
            </div>
            
            @foreach (var item in Model.Take(3))
            {
                    <div class="col-lg-4 mb10">
                        <div class="bloglist s2 item">
                            <div class="post-content">
                                <div class="post-image">
                                    <div class="date-box">
                                        <div class="m">@item.DateCreated.Day</div>
                                        <div class="d">@item.DateCreated.DayOfWeek.ToString().Substring(0,3)</div>
                                    </div>
                                    <img alt="" src="@item.ImageUrl" class="lazy">
                                </div>
                                <div class="post-text">
                                    <h4><a href="~/Blog/Detail/@item.BlogId">@item.Title<span></span></a></h4>
                                    <p>
                                        @item.Description.Substring(0, 200);
                                    </p>
                                    <a class="btn-main" href="#">Devamını Oku</a>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</section>