@model List<Rentaly.DtoLayer.CarDtos.ResultCarWithCategory>

<section id="section-cars">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>DriveX Araç Filosu</h2>
                <p>Geniş ve modern araç filomuz ile her yolculuk için en uygun seçeneği sunuyoruz.
                    Konfor, performans ve güvenliği bir arada keşfedin.</p>
                <div class="spacer-20"></div>
            </div>

            <div id="items-carousel" class="owl-carousel wow fadeIn">

                @foreach (var car in Model.Skip(3).Take(7))
                {
                    <div class="col-lg-12">
                        <div class="de-item mb30">
                            <div class="d-img">
                                <img src="@car.ImageUrl" class="img-fluid" alt="">
                            </div>
                            <div class="d-info">
                                <div class="d-text">
                                    <h4>@car.BrandName @car.ModelName</h4>
                                    <div class="d-atr-group">
                                        <span class="d-atr"><img src="/Rentaly/RentalyHTML/images/icons/1-green.svg" alt="">@car.SeatCount</span>
                                        <span class="d-atr"><img src="/Rentaly/RentalyHTML/images/icons/2-green.svg" alt="">@car.LuggageCount</span>
                                        <span class="d-atr"><img src="/Rentaly/RentalyHTML/images/icons/4-green.svg" alt="">@car.CategoryName</span>
                                    </div>
                                    <div class="d-price">
                                        Günlük Ücret <span>₺@car.DailyPrice</span>
                                        <a class="btn-main" href="car-single.html">Şimdi Kirala</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>
